/log/*
/zold_app/*
/tmp/*
/import/*
.irb_history
.bash_history
.bundle/*
./local/*
.DS_Store
.env

/data/*
!/data/gingr
/data/gingr/ready/*
/data/gingr/processed/*
/data/gingr/failed/*
/data/gingr/processing/*
!/data/geoserver/
/data/geoserver/*
!/data/geoserver/geoserver_oidc_seed/
!/data/geoserver/keycloak/

# !data/geoserver/geoserver_oidc_seed/security/config.xml
# !data/geoserver/geoserver_oidc_seed/security/filter/keycloak/config.xml
# !data/geoserver/keycloak/config/berkeley-local.yaml

/solr/geodata-test/data
/solr/geodata-test/data
/solr/geodata/data
/solr/geodata/data

!**/.keep
