/log/*
/zold_app/*
/data/*
/tmp/*
/import/*
.irb_history
.bash_history
.bundle/*
./local/*

/solr/geodata-test/data/index/*
/solr/geodata-test/data/tlog/*
/solr/geodata/data/index/*
/solr/geodata/data/tlog/*
