/log/*
/zold_app/*
/tmp/*
/import/*
.irb_history
.bash_history
.bundle/*
./local/*
.DS_Store

/data/*
!/data/gingr
/data/gingr/ready/*
/data/gingr/processed/*
/data/gingr/failed/*
/data/gingr/processing/*


/solr/geodata-test/data
/solr/geodata-test/data
/solr/geodata/data
/solr/geodata/data

!**/.keep
