OIDC_CLIENT_ID=geoserver-local
OIDC_CLIENT_SECRET=change-me
OIDC_SECURE_CLIENT_ID=geoserver-secure-local
OIDC_SECURE_CLIENT_SECRET=change-me
OIDC_ADMIN_GROUP="cn=edu:berkeley:org:libr:geoserver:admins,ou=campus groups,dc=berkeley,dc=edu"
OIDC_NAME="keycloak"
OIDC_USER_GROUP="cn=edu:berkeley:org:libr:geoserver:users,ou=campus groups,dc=berkeley,dc=edu"
OIDC_WELL_KNOWN="http://keycloak:8180/realms/berkeley-local/.well-known/openid-configuration"
